section#about
  header 
    h5 First you should know
    h2 About
      span.name  The Studio

  div.left
    p.quote
      | "We are a new creative studuio. veritatis, eosquiso 
      | uam asperi oresipsum itaque dignissimos reprehen derit. 
      | non quos ratione ipsa facilisis."
    span.author - John Doe

    p.note 
      | Provident saepe deserunt, accusamus quiatetur, mollitia 
      | fugit sedar itectoia samus one ipsa facilisis eot.

  div.right
    div.skill
      span.name Branding
      span.percentage 40% 
      progress(max="100", value="40")

    div.skill
      span.name Graphic Design 
      span.percentage 80% 
      progress(max="100", value="80")

    div.skill
      span.name Motion Graphics 
      span.percentage 50% 
      progress(max="100", value="50")