#services{
	@extend .padded-container;
	background-color: $smoke;
	padding-top: 140px;
	padding-bottom: 30px;
	height: 100%;
	box-sizing:border-box;
	.one-half{
		width: 43%;
		display: inline-block;
		.services{
			margin-bottom: 3.5em;
			h4{
				margin-bottom: 1.6em;
			}
			p.small{
				line-height: 2.5em;
			}
		}
	}
	.colum1{
		float: left;
	}
	.colum2{
		float: right;
	}
}
@media screen and (max-width: 1024px) {
	#services{
	width: 100%;}
}
@media screen and (min-width:320px) and (max-width: 620px){
 	#services{
 		height: 1100px;
 		.one-half{
 			width: 100%;
 			display: block;
 		}
 	}
 }