#team{
	@extend .padded-container;
	margin: 120px 0;
	p.small{
			line-height: 2.4em;
			margin-top: 1.9em;
		}
	.one-fourth-colum{
		width: 24%;
		display: inline-block;
		vertical-align: top;
		h5, p.xsmall{
			text-align: center;
		}
		h5{
			margin: 25px 0 13px 0;}
			
  	img {
  		max-width: 100%;
  	}
	}
}

@media screen and (min-width:800px) and (max-width: 1024px){
	#team {
	  .one-fourth-colum {
	  	padding-right: 8px;
	  	box-sizing:border-box;
	  }
	}
}
@media screen and (min-width: 320px) and (max-width: 800px){
  #team {
  	.one-fourth-colum {
	  	width: 100%;
	  
	  	img {
	  		display: block;
	  		margin: auto;
	  	}
	  }
  }
}