html
  head
    title Test template
    link(type="text/css", rel="stylesheet", href="css/main.css")

  body
    include ./templates/header.jade
    include ./templates/hero.jade
    include ./templates/about.jade